// This Source Code Form is subject to the terms of the Mozilla Public
// License, v. 2.0. If a copy of the MPL was not distributed with this
// file, You can obtain one at http://mozilla.org/MPL/2.0/.

#include "Common.xcconfig"
#include "Release.xcconfig"
#include "version.xcconfig"

// Floorp release identity. Xcode and Xcode Cloud use automatic signing for
// this team; certificates and provisioning profiles are never stored here.
FLOORP_DEVELOPMENT_TEAM = DV2U35YBHT
FLOORP_MARKETING_VERSION = 0.1.0
FLOORP_BUILD_NUMBER = 1
FLOORP_APP_STORE_ID =

DEVELOPMENT_TEAM = $(FLOORP_DEVELOPMENT_TEAM)
CODE_SIGN_STYLE = Automatic
CODE_SIGN_IDENTITY = Apple Distribution
PROVISIONING_PROFILE_SPECIFIER =

APP_VERSION = $(FLOORP_MARKETING_VERSION)
CURRENT_PROJECT_VERSION = $(FLOORP_BUILD_NUMBER)
APP_STORE_ID = $(FLOORP_APP_STORE_ID)

INFOPLIST_FILE = Client/Info.plist
MOZ_BUNDLE_DISPLAY_NAME = Floorp
MOZ_BUNDLE_ID = app.floorp.Floorp
MOZ_PRODUCT_NAME = Floorp
MOZ_PUBLIC_URL_SCHEME = floorp
MOZ_INTERNAL_URL_SCHEME = floorp-internal
MOZ_TODAY_WIDGET_SEARCH_DISPLAY_NAME = Floorp - Search

CHANNEL = release
OTHER_SWIFT_FLAGS = $(OTHER_SWIFT_FLAGS_common) -DMOZ_CHANNEL_release
OTHER_LDFLAGS = -ObjC -Xlinker -no_application_extension

INCLUDE_SETTINGS_BUNDLE = NO
ENABLE_TESTABILITY = NO
ENABLE_NS_ASSERTIONS = NO
ENABLE_CODE_COVERAGE = NO
CLANG_ENABLE_CODE_COVERAGE = NO
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
DEAD_CODE_STRIPPING = YES
STRIP_INSTALLED_PRODUCT = YES
